/*
  We use CSS color names by default for readability.
  http://www.w3schools.com/css/css_colorsfull.asp

  In practice, we use whatever hexadecimal colors the designer wants.

  We use off-white & off-black because computer screens
  have high black/white contrast.
*/

/* body */

body {
  background-color: snow; }

/* links */

a {
  color: midgnightblue; }
a:visited {
  color: dimgray; }
a:hover {
  color: snow;
  background-color: black; }

/* flash */

#flash_success {
  background: seagreen; }
#flash_failure {
  background: firebrick; }

/* errors */

.fieldWithErrors {
  background-color: tomato; }
#errorExplanation {
  border-color: tomato;
  background-color: snow; }
#errorExplanation h2 {
  background-color: firebrick;
  color: floralwhite; }
#errorExplanation p {
  color: darkgray; }

