/*
  We use extended CSS color names by default for readability.
  http://www.iangraham.org/books/style/appa/color2.html

  In practice, we use whatever hexadecimal colors the designer wants.

  We use off-white & off-black because computer screens
  have high black/white contrast.
*/

/* body */

body {
  background-color: linen; }

/* links */

a {
  color: lightslategray; }
a:visited {
  color: dimgray; }
a:hover {
  color: linen;
  background-color: lightslategray; }

/* flash */

#flash_success {
  background: seagreen; }
#flash_failure {
  background: tomato; }

/* errors */

.fieldWithErrors {
  background-color: tomato; }
#errorExplanation {
  border-color: tomato;
  background-color: snow; }
#errorExplanation h2 {
  background-color: firebrick;
  color: linen; }
#errorExplanation p {
  color: darkgray; }

